<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impostor de Palabra</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="game-container">
        <h1>🕵️‍♂️ Impostor de Palabra</h1>
        <button onclick="location.href='/host'" class="btn-main">SER HOST (Pantalla TV)</button>
        <button onclick="location.href='/game'" class="btn-join">UNIRSE (Celular)</button>
    </div>
</body>
</html>
