body{
 background:#0e0e0e;
 color:white;
 font-family:sans-serif;
 text-align:center;
 padding:20px;
}

button,input{
 padding:12px;
 margin:8px;
 font-size:16px;
 border-radius:8px;
 border:none;
}

button{
 background:#27ae60;
 color:white;
 cursor:pointer;
}

button:hover{
 background:#2ecc71;
}
