body{
 background:#111;
 color:white;
 font-family:sans-serif;
 text-align:center;
 padding:20px;
}

input,button{
 padding:12px;
 margin:8px;
 font-size:16px;
 border-radius:8px;
 border:none;
}

button{
 background:#27ae60;
 color:white;
}
